.dynamic-roadmap {
    text-align: center;
    padding: 50px;
    margin-bottom: 300px;
  }
  
  h2 {
    font-size: 2.4rem;
    font-family: 'Lexend', sans-serif;
    color: #2c2c54;
    font-weight: bold;
  
  }
  
  .para {
    font-size: 1.1rem;
    color: #4c4c6d;
    margin-top:20px;
  }
  
  .roadmap-steps {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    position:relative;
  }
  
  .step {
    background: linear-gradient(
      to bottom,
      #989d9c,
      #306882,
      #23144a,
      #6d355b
    );
    padding: 20px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }


#circle1 {
  position: absolute;
  left: -111px ; 
  top:116px;
  z-index:1;
}
#circle2{
  position:absolute;
  left:30px;
  z-index:1;
  top:45px;
}
#circle3{
  position: absolute;
  right: 300px;
  top: 155px;
  z-index:1;
}
#circle4{
  position:absolute;
  right: 60px;
  top:211px;
  z-index:1;
}

.curves{
  position: absolute;
  left: 393px;
  top:2013px;
}
 .archory{
  height: 50px;
  width:50px;
  z-index:1;
  background:transparent;
  right:-70px;
  top:119px;
  position:absolute;
  pointer-events: none;
 }

 .text1{
  position:absolute;
  left: -111px ; 
  top:180px;
 }
 .text2{
  position:absolute;
  left:17px ;
  top:106px;
}
.text3{
  position:absolute;
  right: 290px;
  top: 220px;
}
 .text4{
  position:absolute;
  right: 57px;
  top:272px;
}
 .text5{
  position:absolute;
  right:-79px;
  top:167px;
}
  