.dynamic-roadmap {
    text-align: center;
    padding: 50px;
  }
  
  h2 {
    font-size: 2rem;
    font-family: 'Lexend', sans-serif;
    color: #2c2c54;
  }
  
  p {
    font-size: 1rem;
    color: #4c4c6d;
    margin-bottom: 30px;
  }
  
  .roadmap-steps {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .step {
    background-color: #f3edf7;
    padding: 20px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    color: #2c2c54;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  .color {
    background: linear-gradient(
      /* Right-to-left gradient for the top section */
      to bottom, /* From top to bottom */
      rgba(143,118,133,0.5),
      rgba(163,138,147,0.5),
      rgba(195,181,172,0.5),
      rgba(230,224,211,0.5),
      rgba(238,237,227,0.5),
      rgba(244,245,242,0.5),
      rgba(245,244,244,0.5),
      rgba(247,246,247,0.5),
      rgba(245,244,244,0.5)
  
  
      ),
      linear-gradient(
         to bottom right,
         rgba(61, 44, 71,0.5),
         rgba(61, 44, 71, 0.3), 
         rgba(61, 44, 71, 0.3),    /* Starting color (top) */
         rgba(29, 86, 122, 0.3), 
         rgba(29, 86, 122, 0.3),
         rgba(29, 86, 122, 0.3), /* Second color */
         rgba(41, 101, 128, 0.5), /* Third color */
         rgba(157, 175, 153, 0.5),/* Fourth color */
         rgba(177, 183, 154, 0.5),
         #ede8e0
      );
      
     
    height: 1135px; /* Height of the color div */
    width: 100%;    /* Full width */
    position: absolute; /* Position it absolutely to fill the container */
    top: 0; /* Align it to the top of the container */
    left: 0; /* Align it to the left of the container */
    z-index: -1;
    margin-top:0px
  }
  