.explore {
  text-align: center;
  padding: 60px;
  background-color: white;
  margin-bottom:50px;
  background-color: transparent;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Lexend', sans-serif;
  color: #2c2c54;
  font-weight: bold;
  margin-bottom:20px;
  
}

p {
  font-size: 1.5rem;
  color: #4c4c6d;
  margin-bottom: 30px;
  margin-bottom:80px;

}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 
}



.card {
  background-color: rgba(254, 255, 254, 1);
  position: relative;
  padding: 20px;
  margin: 0 10px;
  border-radius: 20px;
  width: 500px;
  height: 200px;
  font-family: 'Lexend', sans-serif;
  color: #2c2c54;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
  transition: transform 0.3 ease, z-index 0.3s ease;
}


.card:hover {
  transform: translateY(-10px);
  z-index: 3;
}
.card::before:hover{
  transform: rotate(-40deg);
  z-index: 3;
}

.card-content {
  text-align: left;
  font-size: 1.9rem;
  font-weight: bold;
  z-index:2;
 
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position:relative;
}

.rating-value {
  background-color: #FF4757;
  color: white;
  border-radius: 25px;
  padding: 3px 15px;
  margin-right: 10px;
  width:40px;
  height:20px;
  padding-bottom: 10px;
  font-size:1.1rem;
}

.tag {
  background-color: #FBC531;
  color: white;
  border-radius: 25px;
  padding: 3px 15px;
  width:40px;
  height:20px;
  padding-bottom: 10px;
  font-size:1.1rem;
  display:flex;
  z-index: 5;
}

.card-image {
  position: relative;
  top: -140px;
  right: -340px;
  width: 180px;
  height: 180px;
  z-index:3;
}


.card-image3 {
  width: 25px;
  height: 20px;
  margin-left: 5px;
  margin-top: 3px;
  z-index: 5;
}

.card-image3
 {
  transform: none; 
  transition: none; 
  box-shadow: none; 
  pointer-events: none; 
}

.card-image
 {
  transform: none; 
  transition: none;
  box-shadow: none; 
  pointer-events: none; 
  
 }
