.forgot-password-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.forgot-password-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.forgot-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.forgot-password-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.forgot-password-btn:hover {
     background: linear-gradient(to right, #9b4baf, #4c1e78);
}