@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1519;
    color: #f7f7f7;
    width : 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60%;
    z-index: 100;
    top: 0;
    position: sticky;
}

.header-logo {
    padding-left: 4rem;
    cursor: pointer;
}

.header-logo h1 {
    background-color: #2f1349;
    font-family: 'Lexend';
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    transition: background 0.3s ease;

}

.header-logo :hover {
    transform: scale(1.03);
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header-nav ul li {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #969a9d;
    
}

.header-nav ul li:hover {
    color: #a29bfe;
    cursor: pointer;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 3rem;

}

.header-icons .icon {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.header-icons .icon:hover {
    color: #a29bfe;
    transform: scale(1.05);
}

.horizontal-line{
    width: 100%;
    border-bottom: 0.05rem solid rgba(48,60,63,255);
    margin: 0;
}