.hero-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #fff;
    position:relative;
  }
  
  .hero-section h1 {
    position:absolute;
    font-size: 100px;
    color:linear-gradient(to right, #1e2c78,darkslateblue);
     margin-bottom: 40px;
    animation:fade-in-out 2s ease-in-out infinite;
    font-size: 6rem; /* Adjust size as needed */
    font-weight: bold; /* Make the text bold */
    background-image: linear-gradient(to right,black,darkslateblue); /* Define the gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent to show the gradient */
    z-index:1;
  }
  
  @keyframes fade-in-out {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }