
.learn-together-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-size: 400% 400%;
  width:100%;
  position:relative;
  height:100%;
  

}






/* 
@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
.color {
  background: linear-gradient(
    /* Right-to-left gradient for the top section */
    to bottom, /* From top to bottom */
    rgba(143,118,133,0.5),
    rgba(163,138,147,0.5),
    rgba(195,181,172,0.5),
    rgba(230,224,211,0.5),
    rgba(238,237,227,0.5),
    rgba(244,245,242,0.5),
    rgba(245,244,244,0.5),
    rgba(247,246,247,0.5),
    rgba(245,244,244,0.5)


    ),
    linear-gradient(
       to bottom right,
       rgba(61, 44, 71,0.5),
       rgba(61, 44, 71, 0.3), 
       rgba(61, 44, 71, 0.3),    /* Starting color (top) */
       rgba(29, 86, 122, 0.3), 
       rgba(29, 86, 122, 0.3),
       rgba(29, 86, 122, 0.3), /* Second color */
       rgba(41, 101, 128, 0.5), /* Third color */
       rgba(157, 175, 153, 0.5),/* Fourth color */
       rgba(177, 183, 154, 0.5),
       #ede8e0
    );
    
   
  height: 1135px; /* Height of the color div */
  width: 100%;    /* Full width */
  position: absolute; /* Position it absolutely to fill the container */
  top: 0; /* Align it to the top of the container */
  left: 0; /* Align it to the left of the container */
  z-index: 0;
}


.text-content {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'lexend';
  color: #333;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 4em;
  font-weight: normal;
}

p {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
}

/* Cursors */
.cursor1, .cursor2 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}



.cursor1 {
  animation: cursorAnimation1 3s infinite;
}

.cursor2 {
  animation: cursorAnimation2 3s infinite;
}

.cursor-name {
  font-size: 0.6em;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 5px;
  border-radius: 3px;
  top: -25px;
  left: -10px;
  font-family: Arial, sans-serif;
  color: #fff;
}

.cursor1-name {
  background-color: #4CAF50;
}

.cursor2-name {
  background-color: #FF5722;
}

/* Cursor Animation */
@keyframes cursorAnimation1 {
  0% { left: 20%; top: 20%; }
  25% { left: 30%; top: 30%; }
  50% { left: 35%; top: 25%; }
  75% { left: 25%; top: 35%; }
  100% { left: 20%; top: 20%; }
}

@keyframes cursorAnimation2 {
  0% { left: 60%; top: 25%; }
  25% { left: 65%; top: 20%; }
  50% { left: 70%; top: 35%; }
  75% { left: 55%; top: 30%; }
  100% { left: 60%; top: 25%; }
}

/* Image styling */
.image-container {
  width: 90%;
  max-width: 1000px;
  margin-top: 20px;
  z-index:1;
  
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgb(181, 125, 154 ,0.1);
  cursor: pointer;
  transition: transform 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
  }
  img:hover {
    transform: translateY(-10px); 
    box-shadow: 
      0px 0px 40px rgb(130, 84, 99);
  }
