@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.navbar {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    height:30px;
    z-index:1;
    margin-bottom:0px;
    background:#eeeee4;
  }
 
  
  .logo1{
    font-size: 1.7rem; 
    font-weight: bold;
    color: white; 
    background-image: linear-gradient(to right, #4c1e78, #9b4baf); 
    padding: 5px 25px; 
    border-radius: 100px; 
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    border: 2px solid transparent; 
    text-align: center;
    transition: all 1s ease-in-out;
    font-family: 'Lexend';
   
   
  }
  .logo1:hover{
    background: linear-gradient(to right, #9b4baf, #4c1e78);
    
    transition: all 1s ease-in-out;
  }
  
  .nav-links {
    font-size:1.5rem;
    font-weight: 550;
    list-style: none;
    display: flex;
    gap: 100px;
    color:black;
    font-family: 'Lexend';
  
  }
  
  .nav-links li {
    cursor: pointer;
    

  }
 
  
  .sign-in-btn {
    padding: 10px 20px; /* Adjust padding to match the image */
  font-size: 1rem; /* Adjust font size to match */
  font-weight: bold;
  color: white; /* Text color */
  background: linear-gradient(to right, #4c1e78, #9b4baf); /* Darker gradient colors */
  border: none;
  border-radius: 100px; /* Rounded corners */
  cursor: pointer;
  overflow: hidden; /* Ensure the arrow stays within the button */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  transition: background 0.3s ease;
  font-family: 'Lexend';
  display:flex;
}
  .sign-in-btn:hover{
    background: linear-gradient(to right, #9b4baf, #4c1e78);
  }
.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 10px;
  top: 60px; 
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  width:250px;

}

.dropdown-menu p {
  margin: 10px 0;
  text-align: left;
  color:#eeeee4;
  font-size: smaller;
}
.logout-btn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}

.logout-btn:hover {
  background-color: #d43f3a;
}
