@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.navbar {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    height:30px;
    z-index:1;
    margin-bottom:0px;
  }
 
  
  
  .logo1{
    font-size: 1.7rem; 
    font-weight: bold;
    color: white; 
    background-image: linear-gradient(to right, #4c1e78, #9b4baf); 
    padding: 5px 25px; 
    border-radius: 100px; 
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    border: 2px solid transparent; 
    text-align: center;
    transition: background 0.3s ease;
    font-family: 'Lexend';
   
   
  }
  .logo1:hover{
    background: linear-gradient(to right, #9b4baf, #4c1e78);
  }
  
  .nav-links {
    font-size:1.5rem;
    font-weight: 550;
    list-style: none;
    display: flex;
    gap: 100px;
    color:black;
    font-family: 'Lexend';
  
  }
  
  .nav-links li {
    cursor: pointer;
    

  }
  
  .sign-up-btn {
  padding: 5px 25px; 
  font-size: 1.4rem;
  font-weight: bold;
  color: white; 
  background: linear-gradient(to right, #4c1e78, #9b4baf); 
  border: none;
  border-radius: 100px; 
  cursor: pointer;
  position: relative;  
  overflow: hidden; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  transition: background 0.3s ease;
  font-family: 'Lexend';
  
  }
  .sign-up-btn:hover{
    background: linear-gradient(to right, #9b4baf, #4c1e78);
  }