@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --text-primary-color: #f7f7f7;
  --text-secondary-color: #9da1a3;
  --text-navlinks-bg-color: #232c30;
  --bg-color: #0a1519;
}

.problem-list-container {
  background-color: var(--bg-color);
  flex-direction: column;
  position: relative;
  width: 100%;
  border-left: 0.05rem solid #3b4447;
  border-right: 0.05rem solid #3b4447;
}

.problem-list-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-primary-color);
  background-color: var(--bg-color);
  padding: 1rem 1rem;
  border-bottom: 0.05rem solid #3b4447;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  z-index: 5;
  top: 50.8px;
}

.problem-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.problem-table th,
.problem-table td {
  padding: 0.75rem 1rem 0.75rem 1rem;
  text-align: left;
  color: var(--text-primary-color);
  font-size: 0.875rem;
  font-weight: 300;
}

.problem-table th {
  background: var(--bg-color);
  border-bottom: 0.05rem solid #3b4447;
  color: var(--text-primary-color);
  font-weight: bold;
}

.problem-table tr:nth-child(even) {
  background-color: rgba(35, 44, 48, 0.4);
}

#problem-topics {
  color: var(--text-secondary-color);
}

.difficulty.easy {
  color: #00b8a3;
}

.difficulty.medium {
  color: #ffc01e;
}

.difficulty.hard {
  color: #ff375f;
}
