@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.sidebar-heading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #aaa; 
  font-family: 'Lexend';
}

.topic-list {
  list-style-type: none;
  padding-left: 0;
  color: #969a9d;
  font-family: 'Lexend';
}

.topic-list li {
  display: flex;
  align-items: center;
}

.icon {
margin-right: 10px;
font-size: 1.3rem;
}

.vertical-line{
  border-right: 0.05rem solid rgba(48,60,63,255);
  height: 100%;
}

.horizontal-box{
  border-bottom: 0.05rem solid rgba(48,60,63,255);
  width: 100%;
  margin: 0;
}