@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.sidebar {
  background-color: #0a1519;
  padding: 0rem 1rem 0.08rem 0.9rem;
  display: flex;
  flex-direction: column;
  resize: auto;
  overflow: auto;
  width: 15px;
  min-width: 15%;
  max-width: 100%;
}


.topic-list {
  list-style-type: none;
  padding-left: 0;
  color: #969a9d;
  font-family: 'Lexend';
}

.topic-list li:hover {
  transform: scale(1.05);
  color: #a29bfe;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.topic-list li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.icon {
margin-right: 10px;
font-size: 1.3rem;
}

.premium-box {
  background : linear-gradient(135deg, #aa2baa, #6b0ddf);
  color : #da0c0c;
  border-radius: 20px;
  margin: 5rem 0.5rem 0.2rem 0.5rem;
  padding : 0.2rem 1rem 1rem 1rem; 
  text-align: left;
  color: #fff;
  transition: transform 0.7s ease;
}

.premium-box:hover {
  transform: scale(1.05);
}

.premium-boxcontent h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: 'Lexend';
  font-weight: bold;
  
}

.premium-boxcontent p {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 20px;
  font-family: 'Lexend';
  
}

.subscribe-button {
  background: solid white;
  color: #000000;
  padding: 12px 20px;
  margin-top: 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background 0.6s ease;
  font-family: 'Lexend';
  font-weight: bold;
}

.subscribe-button:hover {
  background: linear-gradient(135deg, #6b5fae, #301843); 
}

.vertical-line{
  border-right: 0.05rem solid rgba(48,60,63,255);
  height: 100%;
}

.horizontal-box{
  border-bottom: 0.05rem solid rgba(48,60,63,255);
  width: 95%;
}