.signup-container 
{
    width: 100%;
    max-width: 400px;
    margin: 60px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.signup-container{
    transform: translateY(-10px); 
    box-shadow: 
      0px 0px 40px rgb(130, 84, 99);
  }

.signup-title 
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.signup-subtitle 
{
    font-size: 14px;
    margin-bottom: 20px;
    color: #777;
}

.signup-input 
{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 14px;
}

.signup-btn 
{
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #9b4baf, #4c1e78);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.or-text 
{
    font-size: 14px;
    margin-bottom: 15px;
    color: #777;
}

.google-btn {
    background-color:red;
  }
  .google-btn:hover{
    background:#db4537fc;
  }
  .github-btn{
    background-color: #4c1e78;
  }

.account-text 
{
    margin-top: 20px;
    font-size: 14px;
}

.login-link 
{
    color:#4c1e78;
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover 
{
    text-decoration: underline;
}
.password-container {
    position: relative;
}

.show-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007BFF; /* Change to your theme color */
}

