@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css');

:root {
  --text-primary-color: #f7f7f7;
  --text-secondary-color: #9da1a3;
  --text-navlinks-bg-color: #232c30;
  --bg-color: #0a1519;
}

.trending-section {
  background-color: var(--bg-color);
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem 1rem 1rem 1rem;
}

.trending-section h3{
  font-weight: 400;
  color: var(--text-secondary-color);
  margin: 1rem 0;
}

.trending-section:hover{
  i{
    color: var(--text-primary-color);
  }
}

.trending-section i{
  color: var(--text-navlinks-bg-color);
  transition: all 0.3s ease;
}