@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.trending-section {
  background-color: #0a1519;
  display: flex;
  flex-direction: column;
  color: #aaa; 
  font-family: 'Lexend';
  margin-top: 10px;
  padding-top: 1rem;
}

.trending-item {
  background: linear-gradient(135deg, #6200ea, #4a148c);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.7s ease;
}


.trending-item:hover {
  transform: scale(1.05);
}

.trending-item h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.trending-item p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.trending-item button {
  background-color: #3700b3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trending-item button:hover {
  background-color: #03dac6;
}
