@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif; /* Apply 'Lexend' font globally */
  box-sizing: border-box;
  background-color: white; /* Light background for the whole page */
  color: #333;
  overflow-x: hidden;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f7f7f7;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #713e98;
}
