@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.app-container{
  display: flex;
  flex-direction: column;
  font-family: 'Lexend';
}

nav{
  position: sticky;
  top: 0;
  z-index: 5000;
}

.main-content {
  display: flex;
  flex: 1;

}

.sidebar {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
  flex: 1;
}

.problem-list-container {
  flex: 1;
  display: flex;
}

.trending-section {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
}
  

@media (max-width: 768px) {
  .main-content {
    flex-direction: column; /* Stack sidebar and content vertically */
    height: auto; /* Allow automatic height on smaller screens */
  }

  .sidebar {
    width: 100%; /* Full width on smaller screens */
    flex: none; /* Disable flex behavior */
    border-right: none;
  }

  .problem-list-container {
    width: 100%; /* Full width */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .trending-section {
    width: 100%; /* Full width */
    flex: none; /* Disable flex behavior */
    border-left: none;
    margin-top: 20px; /* Add some margin on top */
  }
}
